<% include header %>

    <div class="form-container">
        <h2>Login</h2>

        <form id="loginform">
            <div class="form-group">
                <label for="email">Email Id</label>
                <input type="email" name="email" id="email" class="form-control" required />
                <span id="span"></span>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" required />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="submit">Login</button>

            </div>
            <div>
                <% if (!user) { %>
                    <a href="/auth/facebook">
                        <button type="button">Facebook</button>
                    </a>
                    <a href="/auth/twitter">
                        <button type="button">Twitter</button>
                    </a>
                    <a href="/auth/google">
                        <button type="button">Google</button>
                    </a>
                    <% } else{ %>

                        <% } %>
            </div>
            <div id="signupalert" style="display:none" class="alert">
                <span></span>
            </div>

        </form>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#loginform").validate({

                rules: {
                    email: { required: true, email: true },
                    password: { required: true, minlength: 5 },
                },
                errorPlacement: function (error, element) {
                    if (element.prop("type") === "radio") {
                        error.insertAfter(element.parent().parent(".r-wrap"));
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            $("#submit").on("click", function (e) {
                e.preventDefault();
                e.stopPropagation();
                $.ajax({
                    method: 'POST',
                    url: '/dashboard/1',
                    data: $("#loginform").serialize(),
                    success: function (result) {
                        
                        if (result.response == true) {
                            $("#signupalert").css({ 'display': 'block', 'background-color': '#008000', 'position': 'relative', 'font-color': "#000", "text-align": "center" })
                            $("#signupalert span").text(result.message)
                            setTimeout(function () { window.location.href = "/dashboard/1"; }, 1000);
                        } else {
                            $("#signupalert").css({ 'display': 'block', 'background-color': '#FF0000', 'position': 'relative', 'font-color': "#000", "text-align": "center" })
                            $("#signupalert span").text(result.message)
                        }


                    }, error: function () {
                        console.log(">>error")

                    }
                })



            })
        })

    </script>