<p>Hello <%= dataValues.firstname %> <%= dataValues.lastname %>,</p>  
<div>Your account has been created on User Crud demo.</div>
<div>Your login email is <%= dataValues.email %></div>


<br/>
<div>Thanks</div>